/* style for tables in general */

table {
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

th:last-child {
  border-right: none;
}

td {
  border-right: 1px solid black;
}

td:last-child {
  border-right: none;
}

/* style for truth tables */

.ttable1 table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: top;
}

.ttable1 td {
  border-right: 1px solid black;
  text-align: center;
  vertical-align: top;
}

.ttable1 td:last-child {
  border-right: none;
}

.ttable1 td:nth-child(1) {
  border-right: double black;
}

.ttable1 tr:nth-child(1) {
  border-bottom: 2px solid black;
}

.ttable2 table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: top;
  border: 1px soild black;
}

.ttable2 td {
  border-right: 1px solid black;
  text-align: center;
  vertical-align: top;
}

.ttable2 td:last-child {
  border-right: none;
}

.ttable2 td:nth-child(2) {
  border-right: double black;
}

.ttable2 tr:nth-child(1) {
  border-bottom: 1px solid black;
}

.ttable3 table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: top;
  border: 1px soild black;
}

.ttable3 td {
  border-right: 1px solid black;
  text-align: center;
  vertical-align: top;
}

.ttable3 td:last-child {
  border-right: none;
}

.ttable3 td:nth-child(3) {
  border-right: double black;
}

.ttable3 tr:nth-child(1) {
  border-bottom: 1px solid black;
}

.ttable4 table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: top;
}

.ttable4 td {
  border-right: 1px solid black;
  text-align: center;
  vertical-align: top;
}

.ttable4 td:last-child {
  border-right: none;
}

.ttable4 td:nth-child(4) {
  border-right: double black;
}

.ttable4 tr:nth-child(1) {
  border-bottom: 1px solid black;
}

/* style for arguments */

.arg table {
  border-collapse: collapse;
}

.arg tr,
td {
  text-align: left;
  vertical-align: top;
}

.arg tr:nth-last-child(1) {
  border-top: 1px solid black;
  text-align: left;
}

.arg td:nth-child(1) {
  font-weight: bold;
  text-align: left;
}

/* style for trees */

.tree {
  margin-left: 35px;
}

/*
body {
    font-family: "Times New Roman", Times, serif;
    font-family: "Lucida Console", "Courier New", monospace;
}
*/

.slide.section.level2 {
  padding: 20pt;
  margin: 20pt;
}

div.slide.section.level1 h1 {
  color: #e64626;
  font-size: 160%;
  margin-top: 10%;
  text-align: center;
}

div.slide.section.level2 h1 {
  color: #e64626;
  font-size: 120%;
}

.title-slide.section.level1 {
  padding: 20pt;
  margin: 20pt;
}

ul li {
  list-style: disc;
}

li ul li {
  font-size: 100%;
  font-style: normal;
  list-style: circle;
}

li ul li ul li {
  font-size: 100%;
  font-style: normal;
  list-style: circle;
}

ol li {
  list-style: decimal;
  font-size: 100%;
  font-style: normal;
}

math {
  background-color: #ffcc99;
}

blockquote {
  font-size: 100%;
  font-style: normal;
}
